#experiences {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    min-height: 100vh;
    
    padding: 140px 0;
}

.containerExperiences {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: auto;
    
    padding: 40px 0;
}

.expGauche {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    width: 75%;
    height: 250px;

    /* border: 1px solid #000; */
    margin: 20px;
}

.expDroite {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    width: 75%;
    height: 250px;

    /* border: 1px solid #000; */
    margin: 20px;
}

.exp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 50%;
    height: 100%;

    border: 1px solid #000;
}

.exp>hr {
    width: 50%;
    
    margin: 40px 0;
}