@media screen and (max-width: 1200px) {

    /* NAVIGATION */
    nav {
        display: none;
    }

    .boutonBurger {
        display: flex;
    }

    /* ACCUEIL */
    #accueil {
        height: 100vh;
    }

    .divAccueil>h1 {
        font-size: 3.5em;
    }

    .divAccueil>img {
        position: relative;
        bottom: 0;

        width: 150px;
    }

    /* PRESENTATION */
    .containerPresentation {
        width: 85%;
        height: auto;

        margin: 40px 0;
    }

    .left {
        left: -20px;

        width: 40px;
        height: 40px;
    }

    .right {
        right: 10px;

        width: 20px;
        height: 20px;
    }

    .cartePresentation {
        width: 100%;
        
        margin: 20px 0;
    }

    .presentation2>i {
        display: none;
    }

    .presentation3>i {
        display: none;
    }
}

@media screen and (max-height: 940px) {
    .divAccueil>img{
        width: 150px;
        bottom: -75px;
    }
    
}