#portfolio {
    width: 100%;
    min-height: 75vh;
    position: relative;
    padding: 100px 0;
}

.containerPortfolio {
    width: 100%;
    height: auto;
    padding: 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 80px;
}

.cartePortfolio {
    min-width: 280px;
    max-width: 300px;
    height: 300px;
    border: 1px solid #fff;
    margin: 20px;
}