#presentation {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    min-height: 50vh;
    height: auto;

    background-color: #f1f1f1;
}

.containerPresentation {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 55%;
    min-height: 300px;

    border: 1px solid red;
    padding: 10px;
}

.left {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    width: 40px;
    height: 40px;

    border: 1px solid #000;
    font-size: 2em;
}

.cartePresentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    width: 95%;
    height: auto;

    border: 1px solid #000;
}

.cartePresentation>h3 {
    margin-bottom: 20px;
}

.cartePresentation>p {
    margin-bottom: 10px;
}

.cartePresentation>hr {
    width: 50%;

    margin-bottom: 10px;
}

.presentation2 {
    position: relative;

    display: none;
}

.presentation2>i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;

    font-size: 6em;
}

.presentation3 {
    position: relative;

    display: none;
}

.presentation3>i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;

    font-size: 6em;
}